body {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210408/pngtree-colorful-funny-cute-alphabet-education-image_603554.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}